ovrtx==0.5.1.385782
ovstage==0.2.1.385922
newton==1.6.1
warp-lang==1.18.0
numpy==2.4.6; python_version < "3.12"
numpy==2.5.3; python_version >= "3.12"
usd-core==26.8; sys_platform != "linux" or (platform_machine != "aarch64" and platform_machine != "arm64")
usd-exchange==3.0.1; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "arm64")
PySide6==6.12.0
pyserial==3.5
lertx-robot-assets==1.0.0
